<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dice Tale</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/body404.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header>
    <nav class="navbar-expand-lg bg-gray py-4 mb-height">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="logo-box">
              <img src="/images/logotransparentejunta.png" alt="" class="logo-img">
              <!-- <img src="/images/logo diceTales.png" alt="" class="logo-img2"> -->
              <!-- <a class="navbar-brand logo-txt-decor" href="#">DiceTale</a> -->
            </div>
          </div>
          <div class="col-8 menu-box">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-items container">
                <li class="nav-item">
                  <a class="nav-link active menu-txt-decor animated-title active-item" aria-current="page"
                    href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active menu-txt-decor animated-title" aria-current="page" href="#">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active menu-txt-decor animated-title" aria-current="page" href="#">Sheets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active menu-txt-decor animated-title" aria-current="page" href="#">Community</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-2">
            <a class="navbar-brand menu-user-decor user-area" href="#">
              User
              <!-- <div></div> -->
              <img src="/images/User.png" id="main-icon" alt="" style="margin-left: 10%;">
            </a>
            <div class="mb-menu" onclick="expand()">
              <div class="menu-icon"></div>
              <div class="menu-icon"></div>
              <div class="menu-icon"></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="expanded-menu" id="mb-nav">
      <div class="menu-mb-text bg-gray atual">Home</div>
      <div class="menu-mb-text bg-gray">Games</div>
      <div class="menu-mb-text bg-gray">Sheets</div>
      <div class="menu-mb-text bg-gray">Community</div>
    </div>
  </header>

  <main>
    <article>

      <div class="errorlogo">
        <img src="/images/logotransparente.png" alt="Logo Dice-Tale">
      </div>

      <div class="mensagem404">
        <h1 class="codigo404">404</h1>
        <p>Desculpe, página não encontrada.</p>
      </div>

    </article>
  </main>

  <footer>
    <div class="container mt-auto container-footer">
      <section class="container-footer-top">
        <div class="div-txt-logo">
          <!-- <h6 class="logo-txt-decor">DiceTale</h6> -->
           <img src="/images/logo diceTales.png" alt="">
        </div>
        <div class="texts-area row">
          <div class="col-4 description">
            <p class="text-light-purple">About Us</p>
            <span class="text-white">
              Dice Tale was built by a small team to make life easier for RPG players.
              If you'd like to help or add a new system, feel free to reach out!
            </span>
          </div>
          <div class="col mb-continue">
            <p class="text-ti-purple">Contact Us</p>
            <div class="ft-box gap-1">
              <address class="ft-sp-text">dicetale&#64;gmail.com</address>
              <address class="ft-sp-text">+55 (42) 9 6969-6969</address>
            </div>
          </div>
          <div class="col-5 mb-continue">
            <p class="text-ti-purple">Share your thoughts with us!</p>
            <div class="input-group" [ngStyle]="{'max-width': '100%'}">
              <input type="text" class="form-control" placeholder="Your fedback here">
              <button class="" type="button">Send</button>
            </div>
          </div>
        </div>
      </section>
      <div class="purple-line"></div>
      <section class="icons-area">
        <div class="imgsic">
          <img src="/images/icons/facebook.png" alt="">
          <img src="/images/icons/instagram.png" alt="">
          <img src="/images/icons/twitter.png" alt="">
          <img src="/images/icons/github.png" alt="">
        </div>
      </section>
      <span class="text-ti-purple center-sp">FOLLOW US</span>
    </div>
  </footer>
</body>

</html>