footer {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 18px;
}

footer .container-footer-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

footer .container-footer-top .logo-txt-decor {
    font-size: 2rem;
    font-family: "Jura", sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer .container-footer-top .texts-area {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ft-box {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.ft-box .ft-sp-text {
    color: white;
    margin-bottom: 5px;
}

.ft-box .ft-a-text {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.input-group .form-control {
    color: white;
    border: 1px solid white;
    background: none;
}

.input-group .form-control::placeholder {
    color: rgb(139, 137, 142);
}

.input-group button {
    padding: 7px 15px;
    background-color: #5a4e7b;
    font-weight: bold;
    color: white;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 0 8px 8px 0;
}

.description {
    font-size: 0.9rem;
}

.text-light-purple {
    color: #73659B;
    font-weight: bold;
    font-size: 1.1rem;
}

.text-ti-purple {
    color: #73659B;
    font-weight: bold;
    font-size: 1rem;
}

.purple-line {
    width: auto;
    height: 1.3px;
    background-color: #453d5d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-sp,
.icons-area {
    display: flex;
    justify-content: center;
}

.icons-area {
    margin-bottom: 10px;
}

.imgsic {
    display: flex;
    width: 170px;
    justify-content: space-evenly;
}

@media screen and (max-width: 625px) {
    .description {
        display: none;
    }

    .mb-continue {
        width: 50%;
        justify-content: center;
    }

    .ft-sp-text {
        font-size: small;
    }
}
