@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

body{
    background-color: #1F1E2B;
}

.bg-gray{
    background-color: #363547;
}

.logo-txt-decor{
    font-family: "Jura", sans-serif;
    font-size: xx-large;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF !important;
}

.menu-user-decor,
.menu-txt-decor{
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF !important;
    padding-bottom: 0;
}

.menu-user-decor{
    font-weight: bold;
}

.logo-img{
    width: 50px;
    height: 50px;
}

.menu-box{
    display: flex;
}

.menu-items{
    justify-content: space-around;
}

.logo-box{
    display: flex;
    align-items: center;
}


/* ANIMANDO OS ITEMS DO MENU */
.animated-title {
    position: relative; 
    transform: translateY(0); 
    transition: transform 0.3s ease-in-out; 
}

.animated-title:hover {
    transform: translateY(-5px); 
}

/* Linha roxa inicial */
.animated-title {
    position: relative; 
    transform: translateY(0); 
    transition: transform 0.3s ease-in-out; 
}

.animated-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0; 
    height: 2px; 
    background-color: #7758D1; 
    transition: width 0.3s ease-in-out; 
}

.animated-title:hover::after {
    width: 100%; 
}

.active-item {
    transform: translateY(-10px); 
}

.active-item::after {
    width: 100%; 
}



#main-icon{
    width: 50px;
    height: 50px;
}

.user-area{
    display: flex;
    justify-content: end;
    align-items: center;
}

.expanded-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.expanded-menu.expanded {
    max-height: 200px;
    color: white;
}

.menu-mb-text{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top: solid #1F1E2B 1px;
}

.menu-mb-text:hover,
.atual{
    background-color: #1F1E2B;
}

@media screen and (max-width: 990px) {
    .user-area{
        display: none;
    }
    
    .menu-icon{
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
    }
}